body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 355px;
    flex-shrink: 0;
    background: #EEE;
    display: flex;
    flex-direction: column;
}

.headerTop {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    margin-left: 140px;
}

.mainPage:active {
    opacity: .5;
}

.nav__menu {
    display: flex;
}

.nav__list {
    list-style-type: none;
}

.nav__listActive {
    border-bottom: 2px solid #FB565A;
    list-style-type: none;
}

.nav__link:hover {
    color: #FB565A;
}

.nav__link:active {
    color: #000;
}

.nav__link {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.basket {
    display: inline-flex;
    align-items: center;
}

.basket__icon {
    padding-right: 10px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.basket__link {
    margin-right: 140px;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.basket__link:hover {
    color: #FB565A;
}

.basket__link:active {
    color: #000;
}

.headerBottom__title {
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    align-self: center;
    justify-self: center;
}

.content {
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
}

.content__left {
    display: flex;
    flex-direction: column;
}

.content__mid {
    display: flex;
    flex-direction: column;
}

.content__right {
    display: flex;
    flex-direction: column;
}

.content__filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__filter img {
    width: 11px;
    height: 10px;
    flex-shrink: 0;
    margin-right: 5px;
}

.content__filterText1 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-right: 15px;
}

.content__filterText2 {
    color: #000;
    font-size: 14px;
    opacity: 0.30000001192092896;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-right: 15px;
}

.value {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.value__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 80px;
    border-radius: 3px;
    background: #EEE; 
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.dot::before {
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #ABABAB;
    z-index: 100;
}

.line {
    width: 115px;
    height: 2px;
    background: #00CA74;
    position: relative;
}

.line::after {
    content: " ";
    position: absolute;
    left: 125px;
    width: 45px;
    height: 2px;
    background: #D7DCDF;  
}

.value__bottom {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.value__text {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    margin-right: 10px;
}

.value__amountWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #EEE;
}

.value__amount {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.options__container {
    display: flex;
    margin-top: 15px;
    list-style-type: none;
    align-items: center;
 
}

.options__container input[name=radio]{
    visibility: hidden;
    position: fixed;
    left: 200px;
    top: 0;

}

.options__container__checkbox {
    display: flex;
    margin-top: 15px;
    list-style-type: none;
}

.options__container__checkbox input[name=checkbox]{
    visibility: hidden;
}

.options__label {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.r::before {
    content: " ";
    width: 25px;
    height: 25px;
    opacity: 0.4000000059604645;
    border-radius: 50%;
    border: 2px solid #4D4D4D;
    margin-right: 10px;
}

.r::after {
    content: " ";
    width: 15px;
    height: 15px;
    opacity: 0.4000000059604645;
    border-radius: 50%;
    background-color: #4D4D4D;
    position: absolute;
    margin-left: 7px;
}

.r:hover::after, .r:hover::before {
    opacity: 1;
}

.options__title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.form__button {
    margin-top: 40px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 260px;
    height: 50px;
    background: #EEE;
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.card__top {
    display: inline-flex;
    align-items: center;
    width: 360px;
    height: 40px;
    background-color: #4D4D4D;
    
}

.circle {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.card__body {
    display: flex;
    align-items: end;
    width: 359px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-sedona.png"), lightgray 50% / cover no-repeat;
}

.card__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 231px;
    flex-shrink: 0;
    background-color: #EEEEEE;
}

.card__title {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.card__text {
    width: 255px;
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.card__btn {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background: #FB565A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.card__top1 {
    background-color: #EEEEEE;
    display: inline-flex;
    align-items: center;
    width: 360px;
    height: 40px;
}

.card__body1 {
    width: 358px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-barbershop.png"), lightgray 50% / cover no-repeat;
}

.card__body2 {
    width: 358px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-aplus.png"), lightgray 50% / cover no-repeat;
}

.card__body3 {
    width: 358px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-pink.png"), lightgray 50% / cover no-repeat;
}

.card__body4 {
    width: 358px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-mishka.png"), lightgray 50% / cover no-repeat;
}

.card__body5 {
    width: 358px;
    height: 578px;
    flex-shrink: 0;
    background: url("asset/img-kvast.png"), lightgray 50% / cover no-repeat;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pagination__page {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__pageActive {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 3px solid #EEE;;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.pagination__next {
    width: 260px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;  
}

.message {
    width: 660px;
}

.message p::first-line {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.message__text {  
    color: #444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.socialLinks {
    display: flex;
}

.socialLinks__list{
    list-style-type: none;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.socialLinks__link {
    text-decoration: none;
}

.socialLinks__list:active {
    opacity: .3;
}

.socialLinks__list:hover {
    background-color: #E74246;
}

.socialLinks__list:active {
    background-color: #D7373B;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

.map {
    position: relative;
    width: 1440px;
    height: 416px;
    margin-top: 50px;
}

.map__address {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: white;
    margin-top: 50px;
    margin-left: 80px;
    padding: 15px;
    padding-bottom: 25px;
    width: 319px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map__marker {
    position: absolute;
    left: 830px;
    bottom: 150px;
}

.map__title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.map__textWrapper {
    display: flex;
    width: 230px;
    flex-direction: column;
    justify-content: center;
}

.map__textWrapper p {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.map__button {
    width: 219px;
    height: 50px;
    border-radius: 3px;
    background: #FB565A;
    border: none;
}

.map__button a {
    text-decoration: none;
    font-size: 16px;
    color: #EEE;
}

.map__button:hover {
    opacity: .7;
    cursor: pointer;
}