body {
    font-family: 'Roboto', sans-serif; 
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header { 
   background-color: #EEEEEE;
}

.content {
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
    flex: 1 1 auto;
}

.headerTop {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    margin-left: 140px;
}

.nav__menu {
    display: flex;
}

.nav__list {
    list-style-type: none;
}

.nav__link {
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.basket__wrapper {
    display: inline-flex;
    align-items: center;
}

.basket__icon {
    padding-right: 10px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.basket__link {
    margin-right: 140px;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
}

.slogan {
    margin-left: 140px;
    width: 200px;
}

.slogan__linkWrapper {
    display: flex;
    width: 240px;
    height: 50px;
    border-radius: 3px;
    background: #FB565A;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.slogan__titleWrapper{ 
    width: 540px;
    flex-shrink: 0;
}

.slogan__messageWrapper {   
    width: 400px;
    flex-shrink: 0;
}

.slogan__message {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.slogan__title {
    color: #000;
    font-size: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
}

.slogan__link { 
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

.slider {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.slider__img {
    width: 650px;
    height: 380px;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;  
}

.message {
    display: flex;
    flex-direction: column;
}

.socialLinks {
    display: flex;
}

.socialLinks__list{
    padding-right: 10px;
    list-style-type: none;
}

.order {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.order__windowTitle {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.order__windowText {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.order__window section {
    display: flex;
    width: 260px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.linkWrapperNotebook {
    display: flex;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FB565A;
    align-items: center;
    justify-content: center;
}

.linkWrapperMobile {
    display: flex;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #00CA74;
    align-items: center;
    justify-content: center;
}

.linkWrapperBord {
    display: flex;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #EFC849;
    align-items: center;
    justify-content: center;
}

.order__windowLink {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}

.line {
    margin-top: 50px;
    opacity: 0.5;
    background: #EEE;
}

.aboutUs {
    display: flex;
}

.aboutUs__Title {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.aboutUs__subTitle {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.table__cont {
    display: flex;
    align-items: center;
}

.redLine {
    width: 25px;
    height: 2px;
    flex-shrink: 0;
    background: #FB565A;
    margin-right: 5px;
}

.bottom {
    display: flex;
}

.aboutUs__text2 {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.aboutUs__right {
    display: flex;
    flex-direction: column;
}

.aboutUs__rightTop {
    display: flex;
    flex-direction: column;
}

.aboutUs__rightBottom {
    display: flex;
}

.dataContainer {
    margin-right: 15px;
    align-items: start;
}

.amount {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.aboutUs__text3 {
    color: #283136;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.customers {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.customers div {
    padding: 20px;
    border-right: 1px solid grey;
    flex-grow: 1;
}

.customers__wrapper {
    border-style: hidden;
}

.map {
    position: relative;
    width: 1440px;
    height: 416px;
    margin-top: 50px;
}

.map__address {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 30px;
    width: 319px;
    height: 270px;
}

.map__title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.map__textWrapper {
    display: flex;
    width: 230px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.map__textWrapper p {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.map__button {
    width: 219px;
    height: 50px;
    border-radius: 3px;
    background: #FB565A;
    font-size: 16px;
    color: #EEE;
    border: none;
}

.map__button:hover {
    opacity: .7;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__window {
    position: relative;
    z-index: 2;
    width: 550px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input__container {
    display: flex;
    flex-direction: column;
}

.btn__close {
    border: none;
    background: none;
    color: #FB565A;
    opacity: .7;
}

.btn__close:hover {   
    opacity: 1;
}

.btn__submit {
    width: 219px;
    height: 50px;
    border-radius: 3px;
    background: #FB565A;
    font-size: 16px;
    color: #EEE;
    border: none;
    margin-top: 50px;
}

.btn__submit:hover {
    opacity: .7;
}

.input__container input{
    width: 200px;
    height: auto;
}

.modal__texarea {
    margin-top: 50px;
    width: 100%;
}